body {
  font-family: Arial, Helvetica, sans-serif;
}
.calculator {
  border-collapse: collapse;
  width: 300px;
}
.calculator td {
  border: 1px solid #555;
  width: 70px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  background: pink;
  font-weight: bold;
}
.calculator td.screen {
  height: 50px;
  background: white;
  text-align: right;
  padding-right: 10px;
  font-size: 22px;
  font-weight: bold;
}
