* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-family: "Lobster", cursive;
  font-size: 3.2rem;
}
body {
  font-family: "Lato", sans-serif;
  /* border: 1px solid rgb(156, 155, 155); */
  width: 500px;
  max-height: 100%;
  margin: 30px auto;
  padding: 20px 20px;
}
.header > p {
  margin-top: 15px;
  font-size: 1.6rem;
}
.form-input .item {
  margin-top: 20px;
}
.item {
  position: relative;
  width: 455px;
  /* margin: 50px; */
  border: none;
}
.tooltip {
  position: absolute;
  text-align: center;
  top: -45px;
  left: 35px;
  background-color: #333;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 1.4rem;
  opacity: 0;
  visibility: hidden;
  transition: 0s;
}

.tooltip::after {
  content: "";
  position: absolute;
  /* bottom: -6px; */
  top: 100%;
  left: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.item:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.input-box {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  border: 1px solid #b89e9e;
}

.input-box:hover,
.input-box:focus-within {
  border: 2px solid #1d1a1a;
}
.icon {
  background: #9b9797;
  color: #fff;
  width: 55px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.item.message .input-box {
  height: 100%;
  align-items: stretch;
}
.item.message .icon {
  height: auto;
  align-self: stretch;
  align-items: flex-start;
  padding-top: 12px;
}
.item.message textarea {
  min-height: 120px;
  resize: none;
  padding-top: 12px;
}
.item.message .star {
  padding-top: 12px;
}
.item.message .close {
  padding-top: 12px;
}
.item:hover .icon,
.item:focus-within .icon {
  background-color: #1d1a1a;
}
input,
textarea,
select {
  border: none;
  outline: none;
  flex: 1;
  padding: 0 12px;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}
.arrow {
  padding: 0 15px;
  font-size: 1.8rem;
  color: #938f8f;
}
textarea {
  resize: none;
}
.item:last-child .input-box {
  height: auto;
  align-items: flex-start;
}
.star {
  position: absolute;
  right: 15px;
  color: red;
  font-size: 18px;
}
.close {
  position: absolute;
  right: 15px;
  display: none;
  cursor: pointer;
}
.item:hover .star {
  display: none;
}
.item:hover .close {
  display: block;
}
select {
  appearance: none;
}
.footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer .end-form {
  display: flex;
  align-items: center;
  color: #333;
}
.footer .end-form input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.footer p {
  padding-left: 8px;
  font-size: 1.4rem;
}

button {
  padding: 10px 28px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  box-shadow: 1px 2px 0 #ccc;
  background-color: rgba(255, 0, 0, 0.827);
}
