.quote {
  position: relative;
  width: 600px;
  padding: 60px 60px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 18px;
}
.quote::before,
.quote::after {
  content: "“";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  font-size: 70px;
  font-style: normal;
  justify-content: center;
}
.quote::before {
  top: 0;
  left: 0;
}
.quote::after {
  content: "”";
  bottom: 0;
  right: 0;
}
