* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Asap", sans-serif;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.real-estate-section {
  background: #f5f5f5;
  padding: 40px 60px;
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.section-title::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #ccc;
  margin-left: 10px;
}
.tabs {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  cursor: pointer;
}
.tab {
  background: #e9e9e9;
  padding: 10px 16px;
  border-radius: 999px;
  font-size: 13px;
  text-align: center;
  color: #000;
}
.tab small {
  font-style: italic;
}
.tab.active {
  background: #d8a04b;
  color: #fff;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  cursor: pointer;
}
.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent); */
}
.card-text h3 {
  font-size: 18px;
  position: absolute;
  top: -150px;
}
.card-text p {
  font-size: 14px;
}
