* {
  font-family: Arial, Helvetica, sans-serif;
}
input {
  display: none;
}

label {
  display: block;
  align-items: center;
  background: #e45b1f;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0;
}
.item {
  margin-bottom: 5px;
}

.content {
  display: none;
  padding: 12px 14px;
  border: 1px solid #ddd;
}

input:checked ~ .content {
  display: block;
}

.icon {
  font-size: 20px;
  width: 20px;
}
input:checked + label .icon {
  content: "-";
}
input:checked + label .icon::before {
  content: "-";
}
.icon::before {
  content: "+";
}
.text {
  font-weight: bold;
}
