body {
  font-family: Arial, Helvetica, sans-serif;
}
.form-box {
  width: 400px;
}
table {
  width: 100%;
}
td {
  padding: 3px;
  vertical-align: top;
  width: 10px;
}
select {
  width: 100%;
  padding: 3px;
}
.buttons {
  text-align: center;
  padding-top: 10px;
}
