body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  align-items: center;
  padding-left: 20px;
}
.form-contact {
  width: 600px;
  background-color: #d3d3d3;
  box-sizing: border-box;
  padding-left: 15px;
}
.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
input,
textarea {
  border-radius: 4px;
  border: none;
  padding: 5px;
}
.submit-row {
  display: flex;
  align-items: center;
  gap: 5px;
}
button {
  font-weight: bold;
  background: #555;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
}
.error-message {
  font-size: 14px;
  margin: 0;
}
