* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  --inner-color: #eb4937;
  --outside-color: #c0493c;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323543;
}
.envelop-wrapper {
  width: 300px;
  height: 200px;
  background-color: var(--inner-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  transition: all 0.25s ease;
}
.envelop-lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s ease;
}
.envelop-lid.outside {
  border-top: 100px solid var(--outside-color);
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}
.envelop-lid.inner {
  border-top: 100px solid var(--inner-color);
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}
.envelop-front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #e06155;
  border-bottom: 100px solid #e06155;
  border-left: 150px solid #da554a;
  z-index: 3;
}
.letter {
  position: absolute;
  top: 50%;
  width: 90%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  transition: 0.5s;
  overflow: hidden;
}
.letter .letter-top {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: start;
}
.letter-top .line-item {
  width: 30px;
  height: 100%;
  transform: skewX(-45deg);
}
.letter-top .line-item:first-of-type {
  margin-left: 5px;
}
.bg-red {
  background-color: var(--inner-color);
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #efcecf;
}
.letter .letter-center {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.letter-center .line-long {
  width: 50%;
  height: 15px;
}
.letter-center .line-short {
  width: 25%;
  height: 15px;
}
.letter .letter-bottom {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  bottom: 20%;
}
.envelop-shadow {
  margin: 70px 0;
  width: 350px;
  height: 10px;
  filter: blur(7px);
  background: #000000ad;
  border-radius: 50%;
  transition: all 0.25s ease;
}
.envelop-wrapper:hover {
  transform: translateY(40px);
}
.envelop-wrapper:hover .envelop-lid.outside {
  transform: rotateX(90deg);
  transition-delay: 0s;
}
.envelop-wrapper:hover .envelop-lid.inner {
  transform: rotateX(180deg);
  transition-delay: 0.25s;
}
.envelop-wrapper:hover .letter {
  height: 100%;
  transform: translateY(-200px);
  transition-delay: 0.5s;
}
.envelop-wrapper:hover + .envelop-shadow {
  width: 250px;
  height: 7px;
}
