body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.highlight {
  color: orange;
}
.subcribe-box {
  width: 800px;
  margin: 20px 0;
  background: #2f4052;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
}
.subcribe-box p {
  font-size: 14px;
  line-height: 0.5;
}
.subcribe-box h2 {
  margin-top: 0;
}
.subcribe-form {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}
.subcribe-form input {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 6px;
}
.subcribe-form button {
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background: yellow;
}
.subcribe-box:hover input {
  background: #ddd;
}
.subcribe-box:hover input::placeholder {
  color: orange;
}
.subcribe-box:hover button {
  background: orange;
  color: #fff;
}
