* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  --text-color: #232222;
  --background-color: #ccc;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--background-color);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
}
.wrapper {
  width: 700px;
  background-color: #fff;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
}
.label-list {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}
.label-item {
  display: block;
  padding: 8px;
}
.label-item + .label-item {
  border-left: 1px solid #ccc;
}
.label-item label {
  display: block;
  padding: 8px 10px;
  cursor: pointer;
}
.label-item:hover label,
#tab1:checked ~ .label-list .label-item:nth-child(1) label,
#tab2:checked ~ .label-list .label-item:nth-child(2) label,
#tab3:checked ~ .label-list .label-item:nth-child(3) label,
#tab4:checked ~ .label-list .label-item:nth-child(4) label {
  background-color: #4698de;
  color: #fff;
}
.main-content {
  position: relative;
  perspective: 1000px;
}
.content {
  position: absolute;
  width: 100%;
  height: 200px;
  background: #fff;
  padding: 20px;
  transform: rotateX(-80deg);
  opacity: 0;
  z-index: 0;
  transform-origin: 0% 0%;
  transition: all 0.5s linear;
  overflow: auto;
}
.heading {
  font-size: 3rem;
}
.desc {
  font-size: inherit;
}
#tab1:checked ~ .main-content .c1,
#tab2:checked ~ .main-content .c2,
#tab3:checked ~ .main-content .c3,
#tab4:checked ~ .main-content .c4 {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}
