* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "SFU";
  src: url(./font/SFUAngieRegular.TTF) format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SFU";
  src: url(./font/SFUAngieBold.TTF) format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SFU";
  src: url(./font/SFUAngieItalic.TTF) format(truetype);
  font-style: normal;
}
body {
  height: 50vh;
  font-family: "Asap", sans-serif;
  background: url(https://cdn.houseviet.vn/images/project/23042023/ha-noi-melody-residences-cover.jpg)
    no-repeat center/cover;
}
.body {
  position: relative;
  width: 520px;
  padding: 24px 26px;
  top: 30%;
  left: 15%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
}
.content h2 {
  font-size: 26px;
  font-weight: 700;
  color: #bf4240;
  margin-bottom: 12px;
}
.content p {
  font-size: 14px;
  line-height: 1.6;
  color: #3f3424;
  margin-bottom: 10px;
}
.location {
  font-size: 14px;
  color: #3f3424;
  display: flex;
  align-items: center;
  gap: 6px;
}
.price {
  position: absolute;
  display: inline-block;
  margin-top: 16px;
  background: #bf4240;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 18px;
  border-radius: 5px;
  color: #fff;
  bottom: -20px;
  right: 20px;
}
