body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  /* width: 100%; */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}

.result {
  margin-top: 15px;
  font-weight: bold;
  color: green;
}

#b9_result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 80px; /* khoảng cách giữa 2 cột */
  justify-items: center;
}
.column {
  text-align: left;
}

.table-title {
  color: red;
  font-weight: bold;
}
