* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 40px;
}

.category {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #e5e5e5;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 28px;
}

.navigation a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  padding: 10px 22px;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 600;

  background: linear-gradient(90deg, #4b4bff, #b46cff);
  cursor: pointer;
}
.navigation i {
  font-size: 12px;
}
