body {
  margin: 0;
  height: 100vh;
  background-image: url(https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h3 {
  font-size: 25px;
}
span {
  text-decoration: underline;
}
.card {
  position: absolute;
  top: 120px;
  left: 630px;
  width: 430px;
  height: 250px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(1px);
  border-radius: 8px;
  text-align: center;
}
