* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: #fff;
}
.img {
  height: 100px;
  width: auto;
}
.wrapper {
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  gap: 140px;
}
.timeline {
  flex: 0 0 420px;
}
.timeline-item {
  display: grid;
  /* display: flex;
  flex-direction: row-reverse; */
  grid-template-columns: 1fr 40px 100px;
  column-gap: 20px;
  margin-bottom: 20px;
  /* justify-content: flex-end; */
  text-align: right;
}

.content h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 8px;
  transition: color 0.3s;
}
.content p {
  color: #777;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
}
.tag {
  background: #f1f1f1;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #63beac;
  transition: 0.3s;
  box-shadow: 0 0 0 6px rgba(99, 190, 172, 0.25);
}
.line {
  width: 2px;
  height: 120px;
  background: #eaeaea;
  margin-top: 6px;
}
.year {
  color: #999;
  font-size: 14px;
  align-self: flex-start;
}
.timeline-item:hover {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
}
.timeline-item:hover .dot {
  background: #3bb4a1;
}
.timeline-item:hover .year {
  min-width: 75px;
}
.timeline-item:hover h3 {
  color: #3bb4a1;
}

.timeline-item:hover .tag {
  background: #b07a5a;
  color: #fff;
}
.images {
  flex: 1;
  position: relative;
  margin-left: 40px;
}

.img {
  height: 200px;
  width: auto;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  margin-left: 15px;
}
.img-1 {
  position: absolute;
  left: -20px;
  top: 70px;
  z-index: 1;
}
.img-2 {
  position: absolute;
  right: 75px;
}
